# Игнорируем системные файлы
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db

# Игнорируем виртуальное окружение Python
venv/
env/
.env

# Игнорируем зависимости Node.js (они огромные, их не грузят!)
node_modules/
frontend/node_modules/
dist/
build/

# Игнорируем модель, если она больше 100МБ (GitHub не пропустит)
# Если модель маленькая, можешь закомментировать строку ниже решеткой #
*.pkl

# Логи и базы данных
*.log
*.sqlite